<!-- admin_dashboard.html -->
{% extends "base.html" %}

{% block title %}Public Service Online Crime Reporting System{% endblock %}

{% block content %}
<article>
    
        

    <main class="container">
        <div class="containerb">
            <h1>REPORT'S COMPLAINT DESK</h1>
            
        </div>

        
        {% if available==0 %}
        <div class="containerb">
            <h2>No complaints made yet</h2>
        </div>
        
        {% else %}
        <p>it exists</p>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.title }}</td>
                        <td>{{ report.description }}</td>
                        <td>{{ report.status }}</td>
                        <td><a href="{{ url_for('main.review_report', report_id=report.id) }}" class="btn">Review</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </main>
</article>
{% endblock %}

